.THIS {
}

.THIS .slds-spinner_container {
    /*height:500px;
    margin-top:300px;*/
}

.THIS .mainModal {
    position:relative;
    height:100%
}

.THIS .datatable {
    height:400px;
    width:100%; 
    float:left;
    /*margin-top:10px;*/
    border:1px solid lightgrey;
}

.THIS .rightFloat {
    float:right;
    margin-left: 2px;
    margin-top: 1px;
    margin-bottom: 10px;
}