<apex:page showHeader="false" standardStyleSheets="false" standardController="s2cor__Sage_ACC_Journal__c" Extensions="PaymentReceiptLauncherController">
    
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
     <script language="javascript">
          $(document).ready(function(){
               var todaysDate = '{!MONTH(Today())}_{!DAY(Today())}_{!YEAR(Today())}';
                   console.log(todaysDate);    

               var congaDCCheck = 1;                   
                   if('{!s2cor__Sage_ACC_Journal__c.s2cor__Journal_Type__r.s2cor__UID__c}' === 'SalesReceipts_JT' || '{!s2cor__Sage_ACC_Journal__c.s2cor__Journal_Type__r.s2cor__UID__c}' === 'CustomerReceipts_JT')
                       {
                           congaDCCheck = 0;
                       }
                   console.log(congaDCCheck);                             
                
               var CongaURL = 
                   '/apex/APXTConga4__Conga_Composer?' +
                   '&Id={!s2cor__Sage_ACC_Journal__c.Id}' + 
                   
                   '&QueryId=[PRMultiDets]{!PRMultiDetsId}?pv0={Qvar0},[PayAppDets]{!PayAppDetsId}' + 
                   
                   '&TemplateId={!paymentReceiptTemplateId}' + 

                   '&CongaEmailTemplateId={!paymentReceiptEmailTemplateId}' +  
                   
                   '&QVar0Id={!Qvar0Id}' + 
                   '&Qvar1Id={!Qvar1Id}?pv0={Qvar0}' + 
                   
                   '&QVar0Format=21000' + 
                   '&FP0=1' + 
                   '&TemplateGroup=PRM' + 
                   '&CongaEmailTemplateGroup=PRM' +
                   '&EmailAdditionalTo={Qvar1}' + 
                   '&DV0=Payment+Receipt' + 
                   '&DV1={Qvar0}' +                     
                   '&UF0=1' + 
                   '&MFTS0=Payment_Receipt_Sent__c' + 
                   '&MFTSValue0=TRUE' + 
                   '&SC0=1' + 
                   '&SC1=Attachments' +
                   '&DC=' + congaDCCheck + 
                   '&DCL=Journal+Type+is+incorrect...' + 
                   '&OFN=Payment+Receipt_' + todaysDate;
                       console.log(CongaURL);

               
               // Redirect itself to the now fully strung together Conga Composer URL              
               var CMWindow = window.open(CongaURL, "_self", "width=700, height=550, menubar=0, scrollbars=yes, resizable=yes" );
               
               //var hashes = window.location.href(CongaURL);
               
               /*
               var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
   
               $.each( hashes, function( key, value ) {
                    CongaURL += value + '&';
               });
               */
               
               //var CMWindow = window.open(CongaURL, "_blank", "width=700, height=550, menubar=0, scrollbars=yes, resizable=yes" );
            
               /*
               * The below closes the original popup
               *   if you leave it commented out, it becomes the parent window that is redirected by the Output mode selected in CM
               */            
               //var closeFirstWindow = window.open('','_self').close();            
        
          });        
     </script> 

</apex:page>