<apex:page standardController="project_cloud__Project__c" showHeader="false">
    
    <style>
    .modal {
        z-index: 1000;
        width: 40%;
        padding: 10px;
        background-color: white; 
    }
    
    .disabled {
        content: "";
        position: fixed;
        z-index: 1;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: rgba(0,0,0, .5);
        display:flex;
        justify-content: center;
        align-items: center;
    }
    
    </style>
    
    <apex:detail relatedList="true" title="false"/>
    <apex:includeLightning />
    
    <div class="disabled">
        <div class="modal">
            <div id="lightning"/>
        </div>
    </div>
        
    <script>
        $Lightning.use("c:createResourceRequestsApp", function () {
            $Lightning.createComponent("c:createResourceRequests", {},
                    "lightning",
            function (cmp) {

            });
        });
    </script> 
    
</apex:page>