<apex:page standardController="Opportunity" showHeader="false"  >

<apex:iframe width="100%" height="500" src="https://imparta-crmtools.azurewebsites.net/SFDC/SControl.aspx?Product=CCV&ProductKey={!Opportunity.Id}&SessionID={!$Api.Session_ID}&EndPoint={!$Api.Partner_Server_URL_330}&ReturnURL={!URLFOR($Action.Opportunity.View, opportunity.id)}&Type=Opportunity&CrmID=1"/>

</apex:page>