.cProjectNavigationPath a:focus {
    text-decoration: none;
}
.cProjectNavigationPath .slds-path__title {
    color: white;
}
.cProjectNavigationPath .slds-path__item, .cProjectNavigationPath .slds-path__item:before, .cProjectNavigationPath .slds-path__item:after {
    background: #666;
}
.cProjectNavigationPath .slds-path__item:hover {
    transition: .5s;
    background: #f7941d;
}
.cProjectNavigationPath .slds-path__nav, .cProjectNavigationPath .slds-is-incomplete:hover:before, .cProjectNavigationPath .slds-path__nav, .cProjectNavigationPath .slds-is-incomplete:hover:after {
    transition: .5s;
    background: #f7941d;
}